<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Product details</h1>

    <h2>product name: <mark>><%-data.productname %></mark></h2>
    <h2>product id: <mark><%-data.productId %></mark></h2>
    <h2>product categpry: <mark><%-data.productId %></mark></h2>
    <h2>product brand: <mark><%-data.brand %></mark></h2>
    <h2>product price: <mark><%-data.price %></mark></h2>
    <h2>product discount: <mark><%-data.discount %></mark></h2>
    <h2>product stock: <mark><%-data.stock %></mark></h2>
    <h2>product SKU: <mark><%-data.sku %></mark></h2>
    <h2>product weight: <mark><%-data.weight %></mark></h2>
    <h2>product color: <mark><%-data.color %></mark></h2>
    <h2>product Manufacturing date: <mark><%-data.m_date %></mark></h2>
    <h2>product Expiry date: <mark><%-data.e_date %></mark></h2>
    <h2>product Description: <mark><%-data.p_des %></mark></h2>

</body>
</html>